<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Engima.SimpleTasks" Major="1" Minor="17" Build="0">
      <Files>
        <CPackFile Name="Engima/SimpleTasks/Common/EventHandlers.sqf" CheckSum="MK/JfF57nT99CDXZ9/21qQ==" />
        <CPackFile Name="Engima/SimpleTasks/Common/Functions.sqf" CheckSum="dPiWQ1GEQciHjQGktXLFzQ==" />
        <CPackFile Name="Engima/SimpleTasks/Common/UserFunctions.sqf" CheckSum="2iUPtSiE6EvV30ZGv5C7xg==" />
        <CPackFile Name="Engima/SimpleTasks/Documentation.sqf" CheckSum="vI/qV9QOtYWzXBtUdoo2eQ==" />
        <CPackFile Name="Engima/SimpleTasks/Init.sqf" CheckSum="PDxBw1bdZ3GMxqVX4h/t6w==" />
        <CPackFile Name="Engima/SimpleTasks/Server/EventHandlers.sqf" CheckSum="O/Wffco7ybXyBRMMFyh/FA==" />
        <CPackFile Name="Engima/SimpleTasks/Server/Functions.sqf" CheckSum="5/BTOYvs49cd5f5HkZClxw==" />
        <CPackFile Name="MissionTasks.sqf" CheckSum="Xt60HMbOk3ozhDbRydkiHw==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Engima\SimpleTasks\Init.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
  </CPacks>
</CPackSettings>